openapi: 3.0.3
info:
  title: 'Laravel Swagger API Documentation'
  description: 'Backend API for the salon SaaS platform (Laravel + PostgreSQL) with JWT auth and tenant-scoped operations.'
  version: 1.0.0
servers:
  -
    url: https://admin.vynhq.com
    description: Production
  -
    url: http://127.0.0.1:8000
    description: Local (php artisan serve)
tags:
  -
    name: Authentication
    description: "\nAuthentication and profile management endpoints."
  -
    name: 'Public Booking'
    description: "\nPublic browsing, availability, and booking APIs."
  -
    name: 'Customer Self-Service'
    description: "\nCustomer authenticated APIs: bookings, reviews, favorites."
  -
    name: Appointments
    description: "\nTenant appointment lifecycle APIs."
  -
    name: Sales
    description: "\nPOS sales and receipts APIs."
  -
    name: 'Tenant Management'
    description: "\nStaff invitation management endpoints."
  -
    name: Approvals
    description: "\nApproval queue: list/approve/reject and approval-gated actions."
  -
    name: Franchise
    description: "\nFranchise analytics and franchise-owner onboarding."
  -
    name: Settings
    description: "\nTenant settings endpoints."
  -
    name: Branches
    description: "\nBranch/location management endpoints."
  -
    name: Services
    description: "\nService catalog endpoints (services, categories, availability, add-ons)."
  -
    name: Catalog
    description: "\nPackages & memberships catalog endpoints."
  -
    name: Products
    description: "\nProduct catalog endpoints."
  -
    name: Inventory
    description: "\nInventory stock and movements endpoints."
  -
    name: Staff
    description: "\nStaff, schedules, time tracking, and HR endpoints."
  -
    name: Customers
    description: "\nCRM customer endpoints (customers, notes, packages, memberships)."
  -
    name: Reviews
    description: "\nReview moderation endpoints."
  -
    name: Coupons
    description: "\nCoupon management endpoints."
  -
    name: 'Gift Cards'
    description: "\nGift card lifecycle endpoints."
  -
    name: 'Cash Drawer'
    description: "\nCash drawer session endpoints."
  -
    name: Expenses
    description: "\nExpense tracking endpoints."
  -
    name: Debts
    description: "\nClient debt endpoints."
  -
    name: Reports
    description: "\nReporting and exports endpoints."
  -
    name: 'Monthly Closing'
    description: "\nMonthly closing/period lock endpoints."
  -
    name: Invoices
    description: "\nInvoice endpoints."
  -
    name: Ledger
    description: "\nLedger endpoints."
  -
    name: Commissions
    description: "\nCommission rules and earnings endpoints."
  -
    name: 'Time Off'
    description: "\nTime off request endpoints."
  -
    name: 'Time Blocks'
    description: "\nCalendar time block endpoints."
  -
    name: 'Super Admin'
    description: "\nPlatform-level admin APIs (super_admin)."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Use `/api/auth/login` (or related auth endpoints) to obtain a JWT token. Include `X-Tenant` header for tenant-scoped endpoints.'
  parameters:
    XTenantHeader:
      name: X-Tenant
      in: header
      required: false
      description: 'Tenant identifier (tenant ID or slug). Required on tenant-scoped endpoints.'
      schema:
        type: string
        example: '1'
  schemas:
    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Success
        data:
          nullable: true
      required:
        - success
        - message
    ErrorEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: 'Validation failed'
        errors:
          nullable: true
      required:
        - success
        - message
security:
  - bearerAuth: []
paths:
  /api/register:
    post:
      summary: 'Register Generic Customer'
      operationId: registerGenericCustomer
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - password_confirmation
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  example: secret123
                password_confirmation:
                  type: string
                  format: password
                  example: secret123
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    name:
                      - 'The name field is required.'
                    email:
                      - 'The email field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/login:
    post:
      summary: Login
      operationId: login
      description: 'Authenticate a user with email/password and return a JWT token payload.'
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: secret123
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    email:
                      - 'The email field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/register/customer:
    post:
      summary: 'Register Customer'
      operationId: registerCustomer
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: customer@example.com
                password:
                  type: string
                  example: secret123
                full_name:
                  type: string
                  nullable: true
                  example: John Customer
                phone:
                  type: string
                  nullable: true
                  example: '+1234567890'
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    email:
                      - 'The email field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/register/salon-owner:
    post:
      summary: 'Register Salon Owner'
      operationId: registerSalonOwner
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - salon_name
                - email
                - password
              properties:
                salon_name:
                  type: string
                  example: Bliss Salon
                salon_address:
                  type: string
                  nullable: true
                  example: Downtown Street 12
                email:
                  type: string
                  format: email
                  example: owner@example.com
                password:
                  type: string
                  example: secret123
                full_name:
                  type: string
                  nullable: true
                  example: Salon Owner
                phone:
                  type: string
                  nullable: true
                  example: '+1234567890'
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    salon_name:
                      - 'The salon name field is required.'
                    email:
                      - 'The email field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      salon_name:
                        type: array
                        example:
                          - 'The salon name field is required.'
                        items:
                          type: string
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/request-otp:
    post:
      summary: 'Request OTP'
      operationId: requestOTP
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  nullable: true
                  example: user@example.com
                identifier:
                  type: string
                  nullable: true
                  example: user@example.com
                type:
                  type: string
                  enum:
                    - phone
                    - email
                  example: email
                purpose:
                  type: string
                  enum:
                    - login
                    - register
                    - reset_password
                  example: login
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    identifier:
                      - 'The identifier field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      identifier:
                        type: array
                        example:
                          - 'The identifier field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/verify-otp:
    post:
      summary: 'Verify OTP'
      operationId: verifyOTP
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                email:
                  type: string
                  nullable: true
                  example: user@example.com
                identifier:
                  type: string
                  nullable: true
                  example: user@example.com
                type:
                  type: string
                  enum:
                    - phone
                    - email
                  example: email
                purpose:
                  type: string
                  enum:
                    - login
                    - register
                    - reset_password
                  example: login
                code:
                  type: string
                  example: '123456'
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    identifier:
                      - 'The identifier field is required.'
                    code:
                      - 'The code field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      identifier:
                        type: array
                        example:
                          - 'The identifier field is required.'
                        items:
                          type: string
                      code:
                        type: array
                        example:
                          - 'The code field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/google:
    post:
      summary: 'Google Auth'
      operationId: googleAuth
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - credential
              properties:
                credential:
                  type: string
                  example: eyJhbGciOi...
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    credential:
                      - 'The credential field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      credential:
                        type: array
                        example:
                          - 'The credential field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/staff-invitations/accept:
    post:
      summary: 'Accept Staff Invitation'
      operationId: acceptStaffInvitation
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    token:
                      - 'The token field is required.'
                    name:
                      - 'The name field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      token:
                        type: array
                        example:
                          - 'The token field is required.'
                        items:
                          type: string
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      security: []
  /api/auth/franchise-owner-invitations/accept:
    post:
      summary: 'Accept Franchise Owner Invitation'
      operationId: acceptFranchiseOwnerInvitation
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - password
                - password_confirmation
              properties:
                token:
                  type: string
                  example: 'plain_invite_token'
                name:
                  type: string
                  example: 'Fran Owner'
                password:
                  type: string
                  example: 'newpassword123'
                password_confirmation:
                  type: string
                  example: 'newpassword123'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Invitation accepted successfully. You can now log in.'
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Invitation accepted successfully. You can now log in.'
                  data:
                    nullable: true
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    token:
                      - 'The token field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    nullable: true
      tags:
        - Authentication
      security: []
  /api/me:
    get:
      summary: 'Current user profile'
      operationId: getApiMe
      description: 'Returns the authenticated user''s profile (id, email, name, role, tenant). Available to any authenticated role. Not tenant-scoped.'
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentication
  /api/logout:
    post:
      summary: ''
      operationId: postApiLogout
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentication
  /api/profile:
    patch:
      summary: ''
      operationId: patchApiProfile
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                  maxLength: 100
                email:
                  type: string
                  format: email
                  nullable: true
                phone:
                  type: string
                  nullable: true
                  maxLength: 30
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentication
  /api/profile/change-password:
    post:
      summary: ''
      operationId: postApiProfileChangePassword
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - new_password
                - new_password_confirmation
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
                new_password_confirmation:
                  type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentication
  /api/salon/profile:
    get:
      summary: ''
      operationId: getApiSalonProfile
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentication
    patch:
      summary: ''
      operationId: patchApiSalonProfile
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                phone:
                  type: string
                  nullable: true
                address:
                  type: string
                  nullable: true
                timezone:
                  type: string
                  nullable: true
                currency:
                  type: string
                  nullable: true
                logo:
                  type: string
                  nullable: true
                gender_preference:
                  type: string
                  enum: [ladies, gents, unisex]
                  nullable: true
                cancellation_window_hours:
                  type: integer
                  nullable: true
                cancellation_policy_mode:
                  type: string
                  enum: [soft, hard, none]
                  nullable: true
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentication
  /api/public/salons:
    get:
      summary: 'List Salons'
      operationId: listSalons
      description: 'Public salon directory — anonymous browsing of active salons.'
      security: []
      tags:
        - 'Public Booking'
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: Success
                  data: []
                  meta:
                    current_page: 22
                    per_page: 7
                    total: 0
                    last_page: 1
                    from: null
                    to: null
                  links:
                    first: 'http://localhost/api/public/salons?page=1'
                    last: 'http://localhost/api/public/salons?page=1'
                    prev: 'http://localhost/api/public/salons?page=21'
                    next: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    example: []
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 22
                      per_page:
                        type: integer
                        example: 7
                      total:
                        type: integer
                        example: 0
                      last_page:
                        type: integer
                        example: 1
                      from:
                        type: string
                        example: null
                        nullable: true
                      to:
                        type: string
                        example: null
                        nullable: true
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://localhost/api/public/salons?page=1'
                      last:
                        type: string
                        example: 'http://localhost/api/public/salons?page=1'
                      prev:
                        type: string
                        example: 'http://localhost/api/public/salons?page=21'
                      next:
                        type: string
                        example: null
                        nullable: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: b
                  nullable: true
                price_min:
                  type: number
                  description: 'Must be at least 0.'
                  example: 39
                  nullable: true
                price_max:
                  type: number
                  description: 'Must be at least 0.'
                  example: 84
                  nullable: true
                rating_min:
                  type: number
                  description: 'Must be at least 0. Must not be greater than 5.'
                  example: 1
                  nullable: true
                availability:
                  type: string
                  description: 'Must be a valid date in the format <code>Y-m-d</code>. Must be a date after or equal to <code>today</code>.'
                  example: '2052-05-20'
                  nullable: true
                gender_preference:
                  type: string
                  description: ''
                  example: ladies
                  enum:
                    - ladies
                    - gents
                    - unisex
                  nullable: true
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 22
                  nullable: true
                per_page:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 50.'
                  example: 7
                  nullable: true
  /api/public/salons/nearby:
    get:
      summary: 'Nearby Salons'
      operationId: nearbySalons
      description: 'Geo-search for salons near given lat/lng coordinates. Anonymous.'
      security: []
      tags:
        - 'Public Booking'
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'SQLSTATE[25P02]: In failed sql transaction: 7 ERROR:  current transaction is aborted, commands ignored until end of transaction block (Connection: pgsql, Host: 127.0.0.1, Port: 5432, Database: salon_saas_new, SQL: select * from "cache" where "key" in (laravel-cache-0bceb8aa9bb761a521d54e1872e61f9a))'
                  exception: Illuminate\Database\QueryException
                  file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Connection.php'
                  line: 838
                  trace:
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Connection.php'
                      line: 794
                      function: runQueryCallback
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Connection.php'
                      line: 411
                      function: run
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                      line: 3475
                      function: select
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                      line: 3460
                      function: runSelect
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                      line: 4050
                      function: 'Illuminate\Database\Query\{closure}'
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                      line: 3459
                      function: onceWithColumns
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\DatabaseStore.php'
                      line: 140
                      function: get
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\DatabaseStore.php'
                      line: 115
                      function: many
                      class: Illuminate\Cache\DatabaseStore
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\Repository.php'
                      line: 125
                      function: get
                      class: Illuminate\Cache\DatabaseStore
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                      line: 206
                      function: get
                      class: Illuminate\Cache\Repository
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                      line: 300
                      function: 'Illuminate\Cache\{closure}'
                      class: Illuminate\Cache\RateLimiter
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                      line: 206
                      function: withoutSerializationOrCompression
                      class: Illuminate\Cache\RateLimiter
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                      line: 233
                      function: attempts
                      class: Illuminate\Cache\RateLimiter
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                      line: 247
                      function: remaining
                      class: Illuminate\Cache\RateLimiter
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 329
                      function: retriesLeft
                      class: Illuminate\Cache\RateLimiter
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 176
                      function: calculateRemainingAttempts
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 129
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 90
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 137
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 821
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 800
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 764
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 753
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 180
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 51
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 109
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 74
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 58
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\InvokeDeferredCallbacks.php'
                      line: 22
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\InvokeDeferredCallbacks
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePathEncoding.php'
                      line: 26
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 219
                      function: handle
                      class: Illuminate\Http\Middleware\ValidatePathEncoding
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 137
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 236
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 229
                      function: callLaravelRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 103
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 39
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 466
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 392
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 93
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 186
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\View\Components\Task.php'
                      line: 41
                      function: 'Knuckles\Scribe\GroupedEndpoints\{closure}'
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\View\Components\Factory.php'
                      line: 59
                      function: render
                      class: Illuminate\Console\View\Components\Task
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 183
                      function: __call
                      class: Illuminate\Console\View\Components\Factory
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 73
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 51
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 55
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 43
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 96
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 799
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Command\Command.php'
                      line: 341
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Application.php'
                      line: 1117
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Application.php'
                      line: 356
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Application.php'
                      line: 195
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 198
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                      line: 1235
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                    -
                      file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\artisan'
                      line: 16
                      function: handleCommand
                      class: Illuminate\Foundation\Application
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'SQLSTATE[25P02]: In failed sql transaction: 7 ERROR:  current transaction is aborted, commands ignored until end of transaction block (Connection: pgsql, Host: 127.0.0.1, Port: 5432, Database: salon_saas_new, SQL: select * from "cache" where "key" in (laravel-cache-0bceb8aa9bb761a521d54e1872e61f9a))'
                  exception:
                    type: string
                    example: Illuminate\Database\QueryException
                  file:
                    type: string
                    example: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Connection.php'
                  line:
                    type: integer
                    example: 838
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Connection.php'
                        line: 794
                        function: runQueryCallback
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Connection.php'
                        line: 411
                        function: run
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                        line: 3475
                        function: select
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                        line: 3460
                        function: runSelect
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                        line: 4050
                        function: 'Illuminate\Database\Query\{closure}'
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php'
                        line: 3459
                        function: onceWithColumns
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\DatabaseStore.php'
                        line: 140
                        function: get
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\DatabaseStore.php'
                        line: 115
                        function: many
                        class: Illuminate\Cache\DatabaseStore
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\Repository.php'
                        line: 125
                        function: get
                        class: Illuminate\Cache\DatabaseStore
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                        line: 206
                        function: get
                        class: Illuminate\Cache\Repository
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                        line: 300
                        function: 'Illuminate\Cache\{closure}'
                        class: Illuminate\Cache\RateLimiter
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                        line: 206
                        function: withoutSerializationOrCompression
                        class: Illuminate\Cache\RateLimiter
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                        line: 233
                        function: attempts
                        class: Illuminate\Cache\RateLimiter
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Cache\RateLimiter.php'
                        line: 247
                        function: remaining
                        class: Illuminate\Cache\RateLimiter
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 329
                        function: retriesLeft
                        class: Illuminate\Cache\RateLimiter
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 176
                        function: calculateRemainingAttempts
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 129
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 90
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 137
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 821
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 800
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 764
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 753
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 180
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 51
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 109
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 74
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 58
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\InvokeDeferredCallbacks.php'
                        line: 22
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\InvokeDeferredCallbacks
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\ValidatePathEncoding.php'
                        line: 26
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 219
                        function: handle
                        class: Illuminate\Http\Middleware\ValidatePathEncoding
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 137
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 236
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 229
                        function: callLaravelRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 103
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 39
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 466
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 392
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 93
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 186
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\View\Components\Task.php'
                        line: 41
                        function: 'Knuckles\Scribe\GroupedEndpoints\{closure}'
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\View\Components\Factory.php'
                        line: 59
                        function: render
                        class: Illuminate\Console\View\Components\Task
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 183
                        function: __call
                        class: Illuminate\Console\View\Components\Factory
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 73
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 51
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 55
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 43
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 96
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 799
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Command\Command.php'
                        line: 341
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Application.php'
                        line: 1117
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Application.php'
                        line: 356
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\symfony\console\Application.php'
                        line: 195
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 198
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Foundation\Application.php'
                        line: 1235
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                      -
                        file: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\artisan'
                        line: 16
                        function: handleCommand
                        class: Illuminate\Foundation\Application
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: 'C:\Users\pc\Desktop\Projects\salon-booking-platform\salon-saas-backend\vendor\laravel\framework\src\Illuminate\Database\Connection.php'
                        line:
                          type: integer
                          example: 794
                        function:
                          type: string
                          example: runQueryCallback
                        class:
                          type: string
                          example: Illuminate\Database\Connection
                        type:
                          type: string
                          example: '->'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: number
                  description: 'Must be between -90 and 90.'
                  example: -89
                lng:
                  type: number
                  description: 'Must be between -180 and 180.'
                  example: -179
                radius_km:
                  type: number
                  description: 'Must be at least 0.1. Must not be greater than 200.'
                  example: 7
                  nullable: true
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 66
                  nullable: true
                per_page:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 50.'
                  example: 17
                  nullable: true
                price_min:
                  type: number
                  description: 'Must be at least 0.'
                  example: 8
                  nullable: true
                price_max:
                  type: number
                  description: 'Must be at least 0.'
                  example: 76
                  nullable: true
                rating_min:
                  type: number
                  description: 'Must be at least 0. Must not be greater than 5.'
                  example: 1
                  nullable: true
                availability:
                  type: string
                  description: 'Must be a valid date in the format <code>Y-m-d</code>. Must be a date after or equal to <code>today</code>.'
                  example: '2052-05-20'
                  nullable: true
                gender_preference:
                  type: string
                  description: ''
                  example: gents
                  enum:
                    - ladies
                    - gents
                    - unisex
                  nullable: true
              required:
                - lat
                - lng
  '/api/public/salons/{slug}':
    get:
      summary: 'Salon Details'
      operationId: salonDetails
      description: ''
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Salon not found'
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Salon not found'
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'Public Booking'
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the salon.'
        example: architecto
        required: true
        schema:
          type: string
  /api/public/availability:
    get:
      summary: 'Check Availability'
      operationId: checkAvailability
      description: 'Public availability lookup for a salon, branch, service, and date. Anonymous.'
      security: []
      tags:
        - 'Public Booking'
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
        -
          in: query
          name: branch_id
          required: true
          schema:
            type: integer
            example: 1
        -
          in: query
          name: service_id
          required: true
          schema:
            type: integer
            example: 1
        -
          in: query
          name: date
          required: true
          schema:
            type: string
            format: date
            example: '2026-05-01'
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation failed'
                  errors:
                    branch_id:
                      - 'The branch id field is required.'
                    service_id:
                      - 'The service id field is required.'
                    date:
                      - 'The date field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties:
                      branch_id:
                        type: array
                        example:
                          - 'The branch id field is required.'
                        items:
                          type: string
                      service_id:
                        type: array
                        example:
                          - 'The service id field is required.'
                        items:
                          type: string
                      date:
                        type: array
                        example:
                          - 'The date field is required.'
                        items:
                          type: string
  /api/public/book:
    post:
      summary: 'Book Appointment'
      operationId: bookAppointment
      description: 'Anonymous booking endpoint — creates an appointment without prior login. The salon is identified by the X-Tenant header or a tenant slug in the payload.'
      security: []
      tags:
        - 'Public Booking'
      parameters:
        - $ref: '#/components/parameters/XTenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tenant_id
                - branch_id
                - service_id
                - start_at
                - client_name
              properties:
                tenant_id:
                  type: integer
                  example: 1
                branch_id:
                  type: integer
                  example: 1
                service_id:
[...]
